<% @samples.each do |sample| %>
		<h2 class="name"><%= link_to sample.name, sample.link, {:style=>'color: #000d33;', :class => "css_class"} %></h2>
		<p class="description"><%= sample.description %></p>
		<div class="modify">
			<% if user_signed_in? %>
				<%= link_to 'Edit', edit_sample_path(sample), {:style=>'color:#000d33;', :class => "css_class"} %> | 
				<%= link_to 'Destroy', sample, style: 'color:#000d33;', method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</div>
	<% end %>
<br>
<br>

