/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
 	background: #000d33;
 }

.about {
	color: #FFFFFF;
	font-family: courier;
	font-size: 20px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 10px;
}

.centerpiece {
	border-radius: 38%;
	width: 250px;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

.contact {
	text-align: center;
	color: #000d33;
}

.contact li {
	background: #FFFFFF;
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 20px;
	font-family: courier;
	border-radius: 10px;
}

.contact a {
	color: #000d33;
}

 .login {
 	text-align: right;
 	display: inline;
 	font-family: courier;
 }

 .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
	text-align: center;
	font-family: courier;
}

.footer {
	background-color: #000d33;
}






