// Place all the styles related to the samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
	text-align: center;
	font-family: courier;
}

.name {
	text-align: left;
	padding-left: 350px;
	padding-right: 350px;
	color: orange;
}

.description {
	text-align: left;
	padding-left: 350px;
	padding-right: 350px;
}

.modify {
	text-align: left;
	padding-left: 350px;
}

/* Pseudo Classes */

